# See http://help.github.com/ignore-files/ for more about ignoring files.

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
logs/

# system ignore
.DS_Store
Thumbs.db

# eclipse ignore
.settings/
.project
.classpath
.springBeans
rebel.xml

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# idea ignore
.idea/
*.ipr
*.iml
*.iws

dest/
data/**/dest/